/* === FIXES ==={ */



[class^="icon-"] {
	text-transform: none !important;
}

#pageslide {
	top: 30px;
	height: 94.5%;
	padding: 10px;
	border-left: 1px solid rgb(163, 161, 140);
}

.login-checkbox {
	position: relative;
	top: -3px;
}



/* }=== FIXES === */
