 <div class="container-fluid">
        <div class="row-fluid">
          <div id="parts" class="span2">
            <ul id="parts-menu" class="nav nav-tabs nav-stacked">
              <li>
                <a href="#">Head</a>
              </li>
              <li>
                <a href="#">Body</a>
              </li>
              <li>
                <a href="#">Eye</a>
              </li>
              <li>
                <a href="#">Leg</a>
              </li>
              <li>
                <a href="#">Arm</a>
              </li>
              <li>
                <a href="#">Accessories</a>
              </li>
              <li>
                <a href="#">Background</a>
              </li>
            </ul>
          </div>
          <div id="items-wrapper" class="span5">
            <div id="items">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
              <img src="http://placehold.it/100x100">
            </div>
          </div>
          <div id="avatar" class="span5">
            <div id="avatar-button-group" class="btn-group">
              <a class="btn btn-danger"><i class="icon-th-large "></i> Random</a>
              <a class="btn btn-warning"><i class="icon-retweet "></i> Start Over</a>
              <a class="btn btn-info"><i class="icon-file "></i> Save</a>
            </div>
            <canvas width="400" height="400" id="avatar-canvas"></canvas>
          </div>

        </div>
      </div>

